[Unit]
Description=byedpi proxy service

[Service]
User=user
Group=user
# https://github.com/yt-dlp/yt-dlp/issues/10443#issuecomment-2248940967
ExecStart=%s -c '/home/user/.local/bin/ciadpi-$(uname -p) -i 127.0.0.1 -p 10801 -d 1'

[Install]
WantedBy=default.target

# curl -sL https://github.com/hufrea/byedpi/releases/download/v0.13.1/byedpi-13.1-$(uname -p).tar.gz | tar xz -C ~/.local/bin/
# mkdir -p /usr/local/lib/systemd/system
# sudoedit /usr/local/lib/systemd/system/byedpi.service
# sudo sed -i "s/user/$USER/g" /usr/local/lib/systemd/system/byedpi.service
# sudo systemctl enable --now byedpi.service
# systemctl status byedpi.service
