[Unit]
Description=YouTube stream auto recorder for @%i channel
Requires=zfs-mount.service
After=zfs-mount.service

[Service]
User=user
Group=user
ExecStart=/home/user/go/bin/ytarchive -t -o '/home/user/streams/%i/%(title)s [%(id)s]' -r 900 --add-metadata --monitor-channel https://www.youtube.com/@%i/live best

[Install]
WantedBy=default.target

# go install github.com/Kethsar/ytarchive@dev
# nvim /etc/systemd/system/ytarchive@.service
# :%s/user/$USER/g
# sudo systemctl enable --now ytarchive@{channel1,channel2}.service
